
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Momo+Trust+Display&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}*
   
.main{
    max-width: 100vw;
    max-height: 100vh;
}
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #edeef1 0%, #edeef1 0%, 100%);
    min-height: 100vh;
} 
.profilePic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #c5abab;
    outline: 3px solid #f2dbf5;
    display: block;
    margin: 80px auto 30px auto;
    box-shadow: 0 8px 20px rgba(205, 160, 212, 0.625);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    object-fit: cover;
}
   
 
.sidebar{
    width: 20%;
    height: 100%;
    background: linear-gradient(180deg, #ca9401 0%, #9b9ac3 100%);
    vertical-align:top;
    display:inline-block;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 5px 0 15px rgba(107, 183, 165, 0.2);
}
.sidebar a {
    text-decoration: none;
    color: #60c4dd;
    text-align: center;
    display: block;
    margin: 5px 10px;
    padding: 5px 8px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    background-color: rgba(232, 121, 249, 0.1);
    border: 1px solid transparent;
  
}
.hero{
    width: 79%;
    height: 100%;
    display: inline-block;
    
}
.About{
    margin-left: 300px;
    margin-top: 150px;
    vertical-align: top;
}

.About h1{
    font-size: 56px ;
    color: rgb(207, 199, 83);
}

 .icon {
  display: inline-block;
  width: 55px;
  height: 55px;
  border-radius: 50px;
  color: white;
  margin-top: 50px;
  margin-left: 20px;
  background-color: #716c4f;
  font-size: 30px;
  transition: all 0.3s ease;
  line-height: 55px;
  text-align: center;
} 
.icon i:hover{
    background-color: #da93ce;
    border-radius: 50px;
}
.Education .h1{
    margin-left: 300px;
    margin-top: 150px;
    vertical-align: top; 
}
.Education h1{
    margin-left: 300px;
    margin-top: 150px;
    vertical-align: top; 
}



